.about-as-main {
  padding: 0 110px;
  background-color: rgba(184, 135, 11, .2);
}

@media screen and (max-width: 1280px) {
  .about-as-main {
    padding: 0 98px;
  }
}

@media screen and (max-width: 1024px) {
  .about-as-main {
    padding: 0 78px;
  }
}

@media screen and (max-width: 834px) {
  .about-as-main {
    padding: 0 11px;
  }
}

@media screen and (max-width: 768px) {
  .about-as-main {
    padding: 0 10px;
  }
}

@media screen and (max-width: 430px) {
  .about-as-main {
    padding: 0 6px;
  }
}

@media screen and (max-width: 320px) {
  .about-as-main {
    padding: 0 5px;
  }
}