.presentation {
  padding: 0 110px;
  background-color: rgba(127, 255, 212, .2);
}

@media screen and (max-width: 1280px) {
  .presentation {
    padding: 0 98px;

  }
}

@media screen and (max-width: 1024px) {
  .presentation {
    padding: 0 78px;
  }
}

@media screen and (max-width: 834px) {
  .presentation {
    padding: 0 11px;
  }
}

@media screen and (max-width: 768px) {
  .presentation {
    padding: 0 10px;
  }
}

@media screen and (max-width: 430px) {
  .presentation {
    padding: 0 6px;
  }
}

@media screen and (max-width: 320px) {
  .presentation {
    padding: 0 5px;
  }
}