.callback {
  padding: 0 110px;
  background-color: rgba(106, 199, 24, 0.2);
}

@media screen and (max-width: 1280px) {
  .callback {
    padding: 0 98px;

  }
}

@media screen and (max-width: 1024px) {
  .callback {
    padding: 0 78px;
  }
}

@media screen and (max-width: 834px) {
  .callback {
    padding: 0 11px;
  }
}

@media screen and (max-width: 768px) {
  .callback {
    padding: 0 10px;
  }
}

@media screen and (max-width: 430px) {
  .callback {
    padding: 0 6px;
  }
}

@media screen and (max-width: 320px) {
  .callback {
    padding: 0 5px;
  }
}