.header {
  margin: 0;
  padding: 0 110px;

  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  box-sizing: border-box;
}

.header__logo {
  width: 326px;

  color: #282A30;

  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.2;
  /* 48px */
  letter-spacing: 1px;

}

.header__logolink {
  text-decoration: none;
}

@media screen and (max-width: 1280px) {
  .header {
    padding: 0 98px;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 0 78px;
  }
}

@media screen and (max-width: 834px) {
  .header {
    padding: 0 11px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 10px;
  }
}

@media screen and (max-width: 430px) {
  .header {
    padding: 0 6px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding: 0 5px;
  }
}