.footer {
  margin: 0;
  padding: 0 10px;
  height: 200px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  /* background-color: tan; */

  box-sizing: border-box;
}

.footer {}

.footer__navigation {
  display: flex;
}

.footer__wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__list {
  margin: 0;
  padding: 0 20px;
  list-style: none;
}

.footer__item {
  margin: 5px 0;
  padding: 0;
}