.slide-main {
  margin: 10px;
  padding: 0;

  width: 200px;


  display: flex;
  flex-direction: column;

  /* justify-content: center; */
  align-items: center;
}


.slide-main__link {
  color: #000;
  text-decoration: none;
}

.slide-main__image {
  width: 100px;
}

.slide-main__subtitle {
  margin: 0;
  padding: 0;

  text-align: center;

  /* color: rgba(40, 42, 48, 0.40); */
  color: black;
  font-family: Nunito;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  /* 150% */

}

.slide-main__price {
  margin: 0;
  padding: 0;

  text-align: center;


  color: var(--solo__color, #F7515C);
  font-family: Ubuntu;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}