.sales {
  width: 100%;
  margin: 40px 0 0;
  padding: 0 110px;

  min-height: 410px;

  background: url(../../img/background-element/about-us-main__pattern.svg) top 204px right 103px no-repeat;
  box-sizing: border-box;
}

.sales__background-rectangle {
  position: absolute;
  top: 24px;
  left: 0;
  width: 35px;
  height: 264px;

  background-color: #F7515C;

  transition: 0.3s all;
}

.sales__title {
  width: min-content;
  color: #282A30;
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.21;
}

.sales__pharagraph {
  margin: 25px 0 30px;
  padding: 0;
  color: rgba(40, 42, 48, 0.90);
  font-family: Nunito;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.41;
}

@media screen and (max-width: 1280px) {
  .sales {
    padding: 0 98px;
  }
}

@media screen and (max-width: 1024px) {
  .sales {
    padding: 0 78px;
  }
}

@media screen and (max-width: 834px) {
  .sales__title {
    font-size: 28px;
  }

  .sales__pharagraph {
    font-size: 20px;
  }

  .sales {
    padding: 0 11px;
  }

  .sales__background-rectangle {
    left: -30px;
  }
}

@media screen and (max-width: 430px) {
  .sales {
    /* padding: 0 110px; */
    background: url(../../img/background-element/about-us-main__pattern.svg) top 450px right 103px no-repeat;

  }
}